/*=============================================================
  Filename: console-43.css

  Style Sheet for a console type screen.

  Date    Description                                       By
  -------|-------------------------------------------------|---
  30Nov09 First release                                     ARC
  14Sep10 Use floats to wrap rather than use magic numbers  ARC
  15Sep10 Use sans-serif font set here, don't inherit       ARC
  25Nov10 Re-write to use canvas with width and height set  ARC
  27Nov10 btnForm should use class not id                   ARC
  13May11 remove unneccessary form                          ARC
  14May11 bugfix: chrome wants table width set else expands ARC
  19May11 tighter td rules to avoid accidental inheritance  ARC
  27Apr12 put slider style in for all consoles              ARC
  29Apr12 get rid of unnecessary floats,
          use table to space the sliders                    ARC
  05Jun12 Put in screenHolder to hold multi-layered screens ARC
  21Jun12 Bugfix: :disabled not recognised by IE            ARC
  09Sep12 added canvas display: block for DOCTYPE HTML5
          use inline-block to center auto width console     ARC
  01Jan13 Made table defs more specific                     ARC
  01Apr14 Use gradient fills instead of images              ARC
  11Jun14 Corrected gradients to use 'to' syntax            ARC
  08Jul14 New buttons
          Use box shadow on bezel to replace bezelBevel     ARC
  17Jul14 Updated slider style                              ARC
  20Jul14 Support same style with either <a> ro <button>    ARC
  27Mar15 Remove button only properties, tidy code          ARC
  09Apr15 tidy to make it worl with consolePaged-xx.css     ARC
  02May15 Convert sliders to use input[type-range]          ARC
  05May15 Added spinner styling                             ARC
  08May15 Added the CSS tringle shape as classes            ARC
  13Aug15 Remove 1% padding-top from spinner inputs         ARC
  18Oct15 screenHolder position absolute for fluid layouts  ARC
  31Dec15 Slight change to screenHolder background-color    ARC
  01Jan16 Remove min-width, min-height from screenHolder    ARC
  05Jan16 Add support for ctrlBlks
          Incorporate multi-paged console element styles    ARC
 ==============================================================*/

.console {         /* an inline-block to allow auto width to be centered */
  position: relative;
  display: inline-block;    /* this allows auto width to be centered with text-align: center */
  vertical-align: top;      /* fixes 'descender space' extra pixels for DOCTYPE HTML5 */
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

/* bezel supplies 1px highlight borders and graded image panel, it wraps
   any buttons which are outside the scrnBevel and 'on' the bexel */
.console .bezel  {        /* supplies dark outer 1px border */
  position: relative;
  padding: 8px;      /* bexel width */
  float: left;       /* this allow wrapping of canvas, buttons, sliders */
  background-color: #dddddd;
  background-image: linear-gradient(to bottom right, #e8e8e8, #e8e8e8 10%, #c8c8c8 90%, #c8c8c8);
  border-top: 1px #c0c0c0 solid;
  border-left: 1px #c0c0c0 solid;
  border-bottom: 1px #b0b0b0 solid;
  border-right: 1px #b0b0b0 solid;
  border-radius: 6px;
  box-shadow: 1px 2px 1px #aaaaaa;
}

.console .scrnBevel {       /* supplies inner screen bevels and set background-color */
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
  border-left: 3px #c8c8c8 solid;
  border-top: 3px #c8c8c8 solid;
  border-right: 3px #e0e0e0 solid;
  border-bottom: 3px #e0e0e0 solid;
  border-radius: 4px;
  z-index: 2;
}

.console .ctrlBlk {
  position: relative;
  box-sizing: border-box;
  float:left;
  width: 20%;             /* superceed with inline style, use percentage of  */
  height: 20%;            /* superceed with inline style */
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #eceae8;
  z-index: 1;
}

.console .ctrlBlk.bevelled {       /* supplies inner screen bevels and set background-color */
  border-left: 3px #c8c8c8 solid;
  border-top: 3px #c8c8c8 solid;
  border-right: 3px #e0e0e0 solid;
  border-bottom: 3px #e0e0e0 solid;
  border-radius: 4px;
}

.console .screenHolder {   /* holds multiple crtlBlocks, sets console size */
  position: relative;
/*  min-width: 600px;
  min-height: 400px; */
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #eceae8;
  z-index: 1;
}

.console canvas {
  display: block;    /* required when using DOCTYPE HTML else get 4px margin-bottom */
}

.console .btnHolder {      /* table holding buttons */
  position: relative;
  background-color: transparent;  /* shows between the buttons */
  width: 100%;
  height: 28px;
  padding: 0;
  margin: 6px 0 0 0;
  border: none;
}

.console .btnHolder td {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

.console .button-link {    /* use buttons not anchors so we can disable */
  position: relative;
  display: block;
  width: 90%;
  height: 24px;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  font-style: normal;
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  padding: 2px 0 0 0;
  background: #c4c4c4;
  color: #404040;
  border-radius: 3px;
  border: solid 1px #888888;
  text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.4);
}

.console .button-link:hover {
  background: #b4b4b4;
  border: solid 1px #808080;
  text-decoration: none;
}

.console .button-link:active {
  padding: 2px 0 0 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  background: #a4a4a4;
  border: solid 1px #787878;
  text-shadow: none;
}

.console .button-link:disabled {
  color: #909090;
}

.console .button-link:hover:disabled {
  color: #909090;
}

.console .button-link:active {
  padding-top: 3px;
}

.console .button-link:focus { /* remove blue border in chrome */
  outline:0;
}

input[type="range"] {
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 200px;
  height: 22px;
  margin: 2px 0 0 0;
  border: none;
  padding: 1px 9px;
  background: transparent;
  outline: none; /* no focus outline */
}

input[type="range"]::-moz-range-track {
  border: inherit;
  background: #404040;
  height: 6px;
  box-shadow: inset 1px 1px 1px #a0a0a0, inset -1px -1px 1px #f0f0f0;
}

input[type="range"]::-ms-track {
  border: inherit;
  color: transparent; /* don't drawn vertical reference line */
  background: #404040;
  height: 6px;
  box-shadow: inset 1px 1px 1px #a0a0a0, inset -1px -1px 1px #f0f0f0;
}

input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: transparent;
}

input[type="range"]::-ms-tooltip {
  display: none;
}

/* thumb */
input[type=range]::-webkit-slider-runnable-track {
  cursor: pointer;
  background: #404040;
  height: 6px;
  box-shadow: inset 1px 1px 1px #a0a0a0, inset -1px -1px 1px #f0f0f0;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 13px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #eeeeee 0, #cccccc 100%);
  margin-top: -4px;
}
input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 13px;
  box-shadow: 1px 1px 0px #808080;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #eeeeee 0, #cccccc 100%);
}

input[type="range"]::-ms-thumb {
  width: 30px;
  height: 13px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #eeeeee 0, #cccccc 100%);
}

.console .sliderHolder {       /* table holding sliders */
  position: relative;
  width: 98.5%;
  height: 22px;
  margin: 8px auto 0 auto;
  padding: 0;
  background-color: #c0c0c0;
  border-top: 1px #888888 solid;
  border-bottom: 1px #e0e0e0 solid;
  border-right: 1px #e0e0e0 solid;
  border-radius: 4px;
}

.console .sliderHolder td {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
}

.console .slider {
  position: relative;
	width: 100%;         /* set by the table cell width */
	height: 22px;
}

.spinner {
  position: relative;
  font-size: 15px;
  line-height: 1.3em;
  font-family: "Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
  width: 8em;
  height: 1.4em;
  padding: 0;
  margin: 6px 0 0 0;
  border-top: 2px solid #aaaaaa;
  border-left: 2px solid #aaaaaa;
  border-right: 2px solid #f0f0f0;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 3px;
}

.spinner input {
  box-sizing: border-box;
  padding: 0 1.6em 0 0.3em;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  background-color: white;
  font-size: inherit;
  text-align: right;
}

.buttonInc, .buttonDec {
  position: absolute;
  box-sizing: border-box;
  right:0;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  width: 1.3em;
  height: 50%;
  vertical-align: top;
  background-color: #c4c4c4;
  text-indent: -999px;
  overflow: hidden;
  border-width: 1px;
  border-radius: 2px;
  outline: none;
}

.buttonDec {
  top: 50%;
}

.buttonInc:hover, .buttonDec:hover {
  background-color: #b4b4b4;
}

.buttonInc:active, .buttonDec:active {
  background-color: #a4a4a4;
}

.spinner .triangle-up {      /* REF: https://css-tricks.com/examples/ShapesOfCSS/  */
  position: relative;
  margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
	border-bottom: 0.4em solid black;
}

.spinner .triangle-down {
  position: relative;
  margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
	border-top: 0.4em solid black;
}

.button-link .triangle-left {
  position: relative;
  margin: 0 auto;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-right: 10px solid #505060;
	border-bottom: 5px solid transparent;
}

/*------------------------------------
   Multi-paged console stuff
  -----------------------------------*/

.tabHolder {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2px 0 0 0;
  height: 24px;
  background-color: DarkOliveGreen;
  border-bottom: solid 1px #faf9f5;
  overflow: visible;
  z-index: 4;
}

.tabHolder .pageTab {        /* button */
  position: relative;
  float: left;
  border-top: 1px #bbbbbb solid;
  border-left: 1px #bbbbbb solid;
  border-right: 1px #999999 solid;
  border-bottom: 0;
  margin: 0 0 0 4px;
	color: #585858;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background-color: #a0a0a0;
  padding: 2px 5px 4px 5px;
  width: 100px;
  height: 24px;
  text-align: center;
}

button.pageTab:focus {
  outline:0;
}

.tabHolder .pageTab:hover {
  background: #d0d3d0;
}

.tabHolder .pageTab.selected {
  height: 25px;
  background: #eceae8;
  border-top: 1px #faf9f5 solid;
  border-left: 1px #faf9f5 solid;
  border-right: 1px #cac9c5 solid;
  border-bottom: 0;
  color: black;
  font-weight: bold;
}

textarea:active, input:active, select:active {
  outline: none;
}

.screenPage {
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
/*  border-top: 1px solid #bbbbbb;  */
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  text-align: left;
  background-color: #eceae8;
  z-index: 1;
}
